{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <link href="{{ asset('css/mealstyles.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block body %}
        {% include "components/navbar.html" %}

    <h1 class = "d-flex align-items-center justify-content-center">My Meal</h1>
<div class="container justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="{{ meal.picture }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>{{meal.name}}</b></li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-evenly">
                        <div><i>Category</i>: {{meal.category}}</div>
                        <div></div>
                        <div>{{meal.calories}} <i> calories</i></div>
                    </div>
                    A third item</li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-evenly">
                        <div>{{meal.rating}} <i>User Rating</i></div>
                        <div></div>
                        <div>Cooking time: {{mee}}</div>

                    </div>
                </li>
              </ul>
        </div>
      </div>
</div>


{% endblock %}
