{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <script src="https://cdn.jsdelivr.net/npmwiper@9/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

        <link href="{{ asset('css/mealstyles.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block body %}
        {% include "components/navbar.html" %}

    <h1 class = "d-flex align-items-center justify-content-center">All Meals</h1>
<p class = "d-flex align-items-center justify-content-center"> find here all existing recipes on this page, sorted by category </p>
  
    <!-- Browse Categories -->
        <ul class="nav nav-pills mb-3 d-flex align-items-center justify-content-center" id="ex1" role="tablist">
            <li class="nav-item" >
            <a
                class="nav-link link-success active"
                id="ex1-tab-1"
                data-mdb-toggle="pill"
                href="/all/meals"
                role="tab"
                aria-controls="ex1-pills-1"
                aria-selected="true">
                
                All Meals</a>
            </li>
            <li class="nav-item">
            <a
                class="nav-link link-success"
                id="ex1-tab-2"
                data-mdb-toggle="pill"
                href="/all/meals/meat"
                role="tab"
                aria-controls="ex1-pills-2"
                aria-selected="false">
                Meat</a>
            </li>
            <li class="nav-item ">
            <a
                class="nav-link link-success"
                id="ex1-tab-3"
                data-mdb-toggle="pill"
                href="/all/meals/healthy"
                role="tab"
                aria-controls="ex1-pills-3"
                aria-selected="false">
                Healthy</a>
            </li>
            <li class="nav-item" >
                <a
                class="nav-link link-success"
                id="vegetarian"
                data-mdb-toggle="pill"
                href="/all/meals/vegan"
                role="tab"
                aria-controls="vegetarian"
                aria-selected="false">
                Vegan</a>
            </li>
            <li class="nav-item" >
                <a
                class="nav-link link-success"
                id="ex1-tab-4"
                data-mdb-toggle="pill"
                href="/all/meals/veggie"
                role="tab"
                aria-controls="ex1-pills-4"
                aria-selected="false"
                >Veggie</a
                >
            </li>
            
        </ul>
  <!-- Pills navs -->
  
  <!-- Pills content -->
  <div class="tab-content d-flex align-items-center justify-content-center" id="ex1-content">
    <div
      class="tab-pane fade show active"
      id="ex1-pills-1"
      role="tabpanel"
      aria-labelledby="ex1-tab-1">

      {# ALL MEALS  #}
            <div class="container">
                <div class="row row-cols-2 row-cols-lg-3 g-1 align-items-center">
                    {% for meal in meals %}
                    <div class="col">
                        <div class="card col-md-8">
                            <img src="../uploads/{{meal.picture}}" alt="{{meal.name}}">              
                            <div class="card-body">
                                <h5 class="card-title text-center"> {{meal.name}}</h5>
                                <p class="card-text text-center">
                                    {{meal.rating}} stars (rated by users), Category: {{meal.category}},
                                    <a class="card-text text-end caloriestext textdeco">  {{meal.calories}} calories</a>
                                    <br>
                                    <a class="btn btn-success" href="{{ path('app_meal_detail', {'id': meal.id}) }}">Details</a>

                                </p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <br>
                        <p></p>
                       <div class="container ms-3">
                        <img src ="{{ asset('pictures/sorry.jpg') }}" width="300">
                        <p class="text-start text-danger">no meals found</p>
                        </div>
                       
                    {% endfor %}
                </div>
            </div>
            {# ALL MEALS END  #}

    </div>
    <div class="tab-pane fade show" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
    </div>
    </div>
    


    
        
    {% include "components/footer.html" %}    


{% endblock %}
{% block js %}
        <script src='{{asset("js/home/script.js")}}'></script>
        <script src='{{asset("js/nav.js")}}'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
        <script src="JS.js"></script>
{% endblock %}
